.body-index{
    margin: 0;
    font-family: sans-serif;
    background:rgb(209, 243, 206) !important; 
}

.body-contacto{
    margin: 10px 10px;
    font-family: sans-serif;
    background:rgb(178, 203, 226);
}

.titulo{
    font-size: 60px;
    text-align: center;
    color:brown;
    font-weight: bold;
    margin: 0;
}

.subtitulo{
    margin: 10px 30px;
    font-size: 35px;
    padding: 5px;
    background: rgba(248, 189, 169, 0.293);
    max-width: 700px;
    border-radius: 10px;
}

.titulo-e{
    font-size: 20px;
    margin-left: 35px;
}

p{
    font-size: 16px;
    margin-left: 35px;
}

.img{
    width: 95%;
    height: 700px;
    box-sizing: border-box;
    margin: auto;
    display: block;
    border: 5px solid #111;
    border-radius: 10px;
}

.link{
    text-align: center;
    font-weight: bold;
}

.barra-nav{
    text-align: right;
    margin: 10px;
}

.boton{
    max-height: 500px;
}
