body{
    margin: 0;
    font-family: sans-serif;
    background:rgb(209, 243, 206) !important; 
}

.titulo{
    font-size: 60px;
    text-align: center;
    color:brown;
    font-weight: bold;
}

.subtitulo{
    margin-top: 20px;
    font-size: 35px;
    padding: 5px;
    margin-left: 50px;
    background: rgba(248, 189, 169, 0.293);
    max-width: 700px;
    border-radius: 10px;
}

.titulo-e{
    font-size: 20px;
    margin-left: 60px;
}

p{
    font-size: 16px;
    margin-left: 90px;
}

img{
    width: 95%;
    height: 700px;
    box-sizing: border-box;
    margin: auto;
    display: block;
    border: 5px solid #111;
    border-radius: 10px;
}

.link{
    text-align: center;
    font-weight: bold;
}